<h1>All Players</h1>

<ul>
    <% @players.each do |player| %>
    <li> <%= link_to player.name, user_player_path(current_user, player) %> </li>
<%end%>
</ul>

<br>
<%= link_to "Create New player", new_user_player_path %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>