<h1> Edit Match </h1>

<%= render 'form', match:@match %>
<br>
<%= link_to "Go Back", user_match_path %>
</br>
<br>
<%= button_to "Delete This Match", user_matches_path(@match), method: :delete %>
</br>
