<h1>All Matches</h1>

<ul>
    <% @matches.each do |match| %>
    <li> <%= link_to match.match_number, user_match_path(current_user, match) %> </li>
<%end%>
</ul>

<br>
<%= link_to "Create New Match", new_user_match_path(current_user) %>
</br>
<br>
<%= link_to "Go To Players", user_players_path %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>