<h1>Match: <%= @match.match_number %></h1>
<h3>Match: <%= @match.match_date %></h3>

<br>
<%= link_to "Go To Matches", matches_path %>
</br>
<br>
<%= link_to "Go To Welcome Page", user_session_path %>
</br>