<nav>
<% if !user_signed_in?%>
    <h1>Welcome To Tournament Creator!</h1>
    <ul>
        <li> <%= link_to "Sign Up", new_user_registration_path %></li>
        <li> <%= link_to "Log In", new_user_session_path %></li>
        <li> <%= link_to "Log In w/ Github", user_github_omniauth_authorize_path %></li>
<% else %>
        <div> 

        </div>
    <% end %>
    </ul>
</nav>